---
# Copyright 2024 Cisco Systems Inc.
# All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.


# All variables intended for modification should be placed in this file.
# All variables within this role should have a prefix of "edpm_ciscoaci_lldp"

# service name this role manages
edpm_ciscoaci_lldp_service_name: ciscoaci_lldp

# seconds between retries for download tasks
edpm_ciscoaci_lldp_images_download_delay: 5

# number of retries for download tasks
edpm_ciscoaci_lldp_images_download_retries: 5

edpm_ciscoaci_lldp_image: "10.30.9.74:8787/osp18/openstack-ciscoaci-lldp:18.0.8"

edpm_ciscoaci_lldp_config_dir: "/var/lib/config-data/ansible-generated/ciscoaci_lldp"
edpm_ciscoaci_lldp_neutron_dir: "/var/lib/config-data/ansible-generated/neutron"

edpm_ciscoaci_lldp_tls_cacert_bundle_src: "/var/lib/openstack/cacerts/ciscoaci-lldp-custom-service/tls-ca-bundle.pem"
edpm_ciscoaci_lldp_tls_cacert_bundle_dest: "/etc/pki/ca-trust/extracted/pem/tls-ca-bundle.pem"
edpm_ciscoaci_lldp_tls_cacert_volumes: []

edpm_ciscoaci_lldp_common_volumes:    
    - "/etc/hosts:/etc/hosts:ro"
    - "/etc/localtime:/etc/localtime:ro"
    - "/etc/pki/ca-trust/extracted:/etc/pki/ca-trust/extracted:ro"
    - "/etc/pki/ca-trust/source/anchors:/etc/pki/ca-trust/source/anchors:ro"
    - "/etc/pki/tls/certs/ca-bundle.crt:/etc/pki/tls/certs/ca-bundle.crt:ro"
    - "/etc/pki/tls/certs/ca-bundle.trust.crt:/etc/pki/tls/certs/ca-bundle.trust.crt:ro"
    - "/etc/pki/tls/cert.pem:/etc/pki/tls/cert.pem:ro"
    - "/dev/log:/dev/log"
    - "/etc/puppet:/etc/puppet:ro"
    - "/run/openvswitch:/run/openvswitch:shared,z"
    - "/run/netns:/run/netns:shared"
    - "/lib/modules:/lib/modules:ro"
    - "/var/lib/kolla/config_files/{{ edpm_ciscoaci_lldp_service_name }}.json:/var/lib/kolla/config_files/config.json:ro"
    - "{{ edpm_ciscoaci_lldp_neutron_dir }}:/var/lib/kolla/config_files/src:ro"
    - "/var/log/containers/neutron:/var/log/neutron"


edpm_ciscoaci_lldp_upgrade_remove_unused_packages: false
edpm_ciscoaci_lldp_logging_source: { "tag": "ciscoaci.lldp", "file": "/var/log/containers/neutron/cisco-apic-host-agent.log" }
edpm_ciscoaci_lldp_interfaces: '*,!tap*'