[OPFLEX]

opflex_notify_socket_path='{{ edpm_cisco_neutron_opflex_agent_notify_socket_path }}'
disable_metadata_proxy='{{ edpm_cisco_neutron_opflex_agent_disable_metadata_proxy }}'
enable_snat_conn_track='{{ edpm_cisco_neutron_opflex_agent_enable_snat_conn_track }}'
conn_track_syslog_severity='{{ edpm_cisco_neutron_opflex_agent_conn_track_syslog_severity }}'
conn_track_syslog_facility='{{ edpm_cisco_neutron_opflex_agent_conn_track_syslog_facility }}'