---
# Copyright 2024 Cisco Systems Inc.
# All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
- name: Gather user fact
  ansible.builtin.setup:
    gather_subset:
      - "!all"
      - "!min"
      - "user"
  when:
    - ansible_user is undefined
    
- name: Create cisco-opflex-agent directories
  become: true
  ansible.builtin.file:
    path: "{{ item.path }}"
    setype: "container_file_t"
    state: directory
    owner: "{{ item.owner | default(ansible_user) | default(ansible_user_id) }}"
    group: "{{ item.group | default(ansible_user) | default(ansible_user_id) }}"
    mode: "{{ item.mode | default(omit) }}"
  loop:
    - {'path': "{{ edpm_cisco_opflex_agent_conf_dir }}", "mode": "0750"}
    - {'path': "{{ edpm_cisco_opflex_agent_config_dir }}", "mode": "0750"}
    - {'path': "{{ edpm_cisco_opflex_agent_config_dir }}", "mode": "0750"}
    - {'path': "{{ edpm_cisco_opflex_agent_config_dir }}/etc", "mode": "0750"}
    - {'path': "{{ edpm_cisco_opflex_agent_config_dir }}/etc/opflex-agent-ovs", "mode": "0750"}
    - {'path': "{{ edpm_cisco_opflex_agent_config_dir }}/etc/opflex-agent-ovs/conf.d", "mode": "0750"}
    - {'path': "/etc/puppet", "mode": "0750"}
    - {'path': "/etc/opflex-agent-ovs", "mode": "0750"}
    - {'path': "/run/openvswitch", "mode": "0750", owner: "openvswitch", group: "hugetlbfs"}
    - {'path': "/var/lib/opflex/files", "mode": "0750"}
    - {'path': "/var/lib/opflex/sockets", "mode": "0750"}
    - {'path': "/var/run/openvswitch/", "mode": "0750", owner: "openvswitch", group: "hugetlbfs"}
    - {'path': "/var/lib/openstack/config/containers", "mode": "0750"}
    - {'path': "/var/lib/opflex-agent-ovs", "mode": "0750"}
    - {'path': "/var/lib/opflex-agent-ovs/droplog", "mode": "0750"}
    - {'path': "/var/lib/opflex-agent-ovs/endpoints", "mode": "0750"}
    - {'path': "/var/lib/opflex-agent-ovs/faults", "mode": "0750"}
    - {'path': "/var/lib/opflex-agent-ovs/ids", "mode": "0750"}
    - {'path': "/var/lib/opflex-agent-ovs/mcast", "mode": "0750"}
    - {'path': "/var/lib/opflex-agent-ovs/policy", "mode": "0750"}
    - {'path': "/var/lib/opflex-agent-ovs/restarts", "mode": "0750"}
    - {'path': "/var/lib/opflex-agent-ovs/services", "mode": "0750"}
    - {'path': "/var/log/containers/opflex", "mode": "0750"}
    - {'path': "/var/log/containers/neutron", "mode": "0750"}
    - { 'path': "/var/lib/opflex/files", 'setype': svirt_sandbox_file_t }
    - { 'path': "/var/lib/opflex/files/endpoints", 'setype': svirt_sandbox_file_t }
    - { 'path': "/var/lib/opflex/files/services", 'setype': svirt_sandbox_file_t }
    - { 'path': "/var/lib/opflex/files/ids", 'setype': svirt_sandbox_file_t }
    - { 'path': "/var/lib/opflex/files/mcast", 'setype': svirt_sandbox_file_t }
    - { 'path': "/var/lib/opflex/files/droplog", 'setype': svirt_sandbox_file_t }
    - { 'path': "/var/lib/opflex/files/faults", 'setype': svirt_sandbox_file_t }
    - { 'path': "/var/lib/opflex/files/policy", 'setype': svirt_sandbox_file_t }
    - { 'path': "/var/lib/opflex/files/outofband", 'setype': svirt_sandbox_file_t }
    - { 'path': "/var/lib/opflex/sockets", 'setype': svirt_sandbox_file_t }
    - { 'path': "/var/lib/opflex/files/restarts", 'setype': svirt_sandbox_file_t }
  tags:
    - install
    - neutron

- name: create /run/netns with temp namespace
  ansible.builtin.command: ip netns add ns_temp
  register: ipnetns_add_result
  ignore_errors: true
  become: true
 
- name: remove temp namespace
  ansible.builtin.command: ip netns delete ns_temp
  ignore_errors: true
  when: ipnetns_add_result.rc == 0
  become: true
  
- name: set conditions
  ansible.builtin.set_fact:
    internal_droplog_enabled: "{{ edpm_cisco_opflex_agent_opflex_enable_drop_log }}"

- name: Create droplog config file
  become: true
  when: internal_droplog_enabled|bool
  copy:
    dest: "/var/lib/opflex/files/droplog/a.droplogcfg"
    content: "{{ edpm_cisco_opflex_agent_opflex_droplog_config }}"

- name: Delete droplog config file
  become: true
  when: not internal_droplog_enabled|bool
  file:
    path: "/var/lib/opflex/files/droplog/a.droplogcfg"
    state: absent

- name: Enable droplog in NFT
  when: internal_droplog_enabled|bool
  ansible.builtin.shell: nft add rule ip nat OUTPUT udp dport 6081 dnat 127.0.0.1:50000
  become: true

- name: Disable droplog in NFT
  when: not internal_droplog_enabled|bool
  ansible.builtin.shell: nft delete rule ip nat OUTPUT handle $(nft -a list table ip nat | grep 6081 | awk '{print $NF}')
  become: true
  ignore_errors: true

- name: get mapped interface
  ansible.builtin.command: "os-net-config -i {{ edpm_cisco_opflex_agent_aci_opflex_uplink_interface }}"
  register: intf_out
  ignore_errors: true
  become: true
- set_fact:
     intf_json: "{{ intf_out.stdout | regex_search('{(?:[^{}])*}', multiline=True) | to_json }}"

- name: set aci_opflex_uplink_interface fact
  set_fact:
     aci_opflex_uplink_interface: "{{ item.value }}"
  when: item.key is defined and item.key == edpm_cisco_opflex_agent_aci_opflex_uplink_interface
  with_dict: "{{ intf_json | from_json }}"

- set_fact:
     aci_opflex_uplink_interface: "{{ edpm_cisco_opflex_agent_aci_opflex_uplink_interface }}"
  when: aci_opflex_uplink_interface is not defined

- name: setup infra interface file ovs type
  become: true
  copy:
    dest: "/etc/sysconfig/network-scripts/ifcfg-{{ aci_opflex_uplink_interface }}.{{ edpm_cisco_opflex_agent_aci_apic_infravlan }}"
    content: "DEVICE={{ aci_opflex_uplink_interface}}.{{ edpm_cisco_opflex_agent_aci_apic_infravlan }} \nONBOOT=yes \nNM_CONTROLLED=no \nBOOTPROTO=dhcp \nDEVICETYPE=ovs \nTYPE=OVSIntPort \nOVS_BRIDGE=br-ex \nOVS_OPTIONS=\"tag={{ edpm_cisco_opflex_agent_aci_apic_infravlan }}\" \nPEERDNS=no \nPERSISTENT_DHCLIENT=1 \nDHCPRELEASE=1 \nHOTPLUG=no \nMTU={{ edpm_cisco_opflex_agent_opflex_interface_mtu }}"
  register: infra_interface
  when:
    - edpm_cisco_opflex_agent_opflex_interface_type == "ovs"

- name: setup infra interface file linux type
  become: true
  copy:
    dest: "/etc/sysconfig/network-scripts/ifcfg-{{ aci_opflex_uplink_interface }}.{{ edpm_cisco_opflex_agent_aci_apic_infravlan }}"
    content: "DEVICE={{ aci_opflex_uplink_interface}}.{{ edpm_cisco_opflex_agent_aci_apic_infravlan }} \nONBOOT=yes \nNM_CONTROLLED=no \nBOOTPROTO=dhcp \nVLAN=yes \nPEERDNS=no \nPERSISTENT_DHCLIENT=1 \nDHCPRELEASE=1 \nONPARENT=yes \nMTU={{ edpm_cisco_opflex_agent_opflex_interface_mtu }}"
  register: infra_interface
  when:
    - edpm_cisco_opflex_agent_opflex_interface_type == "linux"

- name: setup infra interface route file
  become: true
  copy:
    dest: "/etc/sysconfig/network-scripts/route-{{ aci_opflex_uplink_interface }}.{{ edpm_cisco_opflex_agent_aci_apic_infravlan }}"
    content: "224.0.0.0/4 via 0.0.0.0 dev {{ aci_opflex_uplink_interface }}.{{ edpm_cisco_opflex_agent_aci_apic_infravlan }}"


- name: get mac address for uplink interface
  ansible.builtin.command: "cat /sys/class/net/{{ aci_opflex_uplink_interface }}/address"
  register: mac_addr
  become: true

- name: setup infra interface dhcp file
  become: true
  copy:
    dest: "/etc/dhcp/dhclient-{{ aci_opflex_uplink_interface }}.{{ edpm_cisco_opflex_agent_aci_apic_infravlan }}.conf"
    content: "send dhcp-client-identifier 01:{{ mac_addr.stdout }};"
  register: infra_dhcp_file

- name: bring down infra interface
  become: true
  ansible.builtin.command: "/sbin/ifdown {{ aci_opflex_uplink_interface }}.{{ edpm_cisco_opflex_agent_aci_apic_infravlan }} "
  when: infra_dhcp_file is changed or infra_interface is changed

- name: bring up infra interface
  ansible.builtin.command: "/sbin/ifup {{ aci_opflex_uplink_interface }}.{{ edpm_cisco_opflex_agent_aci_apic_infravlan }}"
  when: infra_dhcp_file is changed or infra_interface is changed
  become: true

- name: setup br-fabric bridge
  ansible.builtin.command: "/bin/ovs-vsctl -- --may-exist add-br br-fabric"
  become: true

- name: set external id for br-fabric
  ansible.builtin.command: "/bin/ovs-vsctl br-set-external-id br-fabric bridge-id br-fabric"
  become: true

- name: set openflow version for br-fabric
  ansible.builtin.command: "/bin/ovs-vsctl set bridge br-fabric protocols=[]"
  become: true

- name: set br-fabric link up
  ansible.builtin.command: "ip link set dev br-fabric up"
  become: true

- name: Pause for 5 sec
  wait_for:
    timeout: 5

- name: "set patch from br-fabric to {{ edpm_cisco_opflex_agent_neutron_external_bridge }}"
  command: "/bin/ovs-vsctl -- --may-exist add-port br-fabric patch-fab-ex -- set Interface patch-fab-ex type=patch options:peer=patch-ex-fab"
  become: true
  when:
    - edpm_cisco_opflex_agent_aci_opflex_encap_mode == "vxlan"

- name: set patch from br-ex to br-fabric
  command: "/bin/ovs-vsctl -- --may-exist add-port {{ edpm_cisco_opflex_agent_neutron_external_bridge }}  patch-ex-fab -- set Interface patch-ex-fab type=patch options:peer=patch-fab-ex"
  become: true
  when:
    - edpm_cisco_opflex_agent_aci_opflex_encap_mode == "vxlan"

- name: remove any old br-int_vxlan0 port
  command: "/bin/ovs-vsctl -- --if-exists del-port br-int br-int_vxlan0"
  become: true
  when:
    - edpm_cisco_opflex_agent_aci_opflex_encap_mode == "vxlan"
- name: add br-fab_vxlan0 port
  command: "/bin/ovs-vsctl -- --may-exist add-port br-fabric br-fab_vxlan0 -- set Interface br-fab_vxlan0 type=vxlan options:remote_ip=flow options:key=flow options:dst_port=8472"
  become: true
  when:
    - edpm_cisco_opflex_agent_aci_opflex_encap_mode == "vxlan"

- name: setup br-int bridge
  command: "/bin/ovs-vsctl -- --may-exist add-br br-int"
  become: true

- name: set external id for br-int
  command: "/bin/ovs-vsctl br-set-external-id br-int bridge-id br-int"
  become: true

- name: set openflow version for br-int
  command: "/bin/ovs-vsctl set bridge br-int protocols=[]"
  become: true

- name: set br-int link up
  command: "ip link set dev br-int up"
  become: true

- name: add droplog gen1 port
  command: "/bin/ovs-vsctl -- --may-exist add-port br-fabric gen1 -- set interface gen1 type=geneve options:remote_ip=flow options:key=1"
  become: true

- name: set gen1 ingreess policing rate
  command: "sudo ovs-vsctl set interface gen1 ingress_policing_rate=1000"
  become: true

- name: set gen1 ingreess policing burst
  command: "sudo ovs-vsctl set interface gen1 ingress_policing_burst=100"
  become: true

- name: add droplog gen2 port
  command: "/bin/ovs-vsctl -- --may-exist add-port br-int gen2 -- set interface gen2 type=geneve options:remote_ip=flow options:key=2"
  become: true

- name: set gen2 ingreess policing rate
  command: "sudo ovs-vsctl set interface gen2 ingress_policing_rate=1000"
  become: true

- name: set gen2 ingreess policing burst
  command: "sudo ovs-vsctl set interface gen2 ingress_policing_burst=100"
  become: true

# patch port when encap is vlan
- set_fact:
    ppname: "{{ edpm_cisco_opflex_agent_opflex_target_bridge_to_patch[0:5] }}"

- name: "set patch from br-fabric to {{ edpm_cisco_opflex_agent_opflex_target_bridge_to_patch }}"
  command: "/bin/ovs-vsctl -- --may-exist add-port br-fabric br-fa_to_{{ ppname }} -- set Interface br-fa_to_{{ ppname }} type=patch options:peer={{ ppname }}_to_br-fa"
  become: true
  when:
    - edpm_cisco_opflex_agent_opflex_target_bridge_to_patch != ''
    - edpm_cisco_opflex_agent_aci_opflex_encap_mode == "vlan"

- name: "set patch from {{ edpm_cisco_opflex_agent_opflex_target_bridge_to_patch }} to br-fabric"
  command: "/bin/ovs-vsctl -- --may-exist add-port {{ edpm_cisco_opflex_agent_opflex_target_bridge_to_patch }} {{ ppname }}_to_br-fa -- set Interface {{ ppname }}_to_br-fa type=patch options:peer=br-fa_to_{{ ppname }}"
  become: true
  when:
    - edpm_cisco_opflex_agent_opflex_target_bridge_to_patch != ""
    - edpm_cisco_opflex_agent_aci_opflex_encap_mode == "vlan"